/* --- Definições de Cores (Template Matugen) --- */

@define-color accent_color #87dd00;
@define-color accent_bg_color #87dd00;
@define-color accent_fg_color #1e3700;

@define-color destructive_color #ffb4ab;
@define-color destructive_bg_color #93000a;
@define-color destructive_fg_color #ffdad6;

@define-color success_color #afcfaa;
@define-color success_bg_color #324d31;
@define-color success_fg_color #cbebc5;

@define-color warning_color #99d3b0;
@define-color warning_bg_color #165036;
@define-color warning_fg_color #b4f0cb;

@define-color error_color #ffb4ab;
@define-color error_bg_color #93000a;
@define-color error_fg_color #ffdad6;

@define-color window_bg_color #10150a;
@define-color window_fg_color #dfe5d2;

@define-color view_bg_color #10150a;
@define-color view_fg_color #dfe5d2;

@define-color headerbar_bg_color @window_bg_color;
@define-color headerbar_fg_color @window_fg_color;
@define-color headerbar_border_color @window_bg_color;
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color @window_bg_color;

@define-color card_bg_color #262c1f;
@define-color card_fg_color #dfe5d2;
@define-color card_shade_color rgba(0, 0, 0, 0.07);

@define-color dialog_bg_color @card_bg_color;
@define-color dialog_fg_color @card_fg_color;

@define-color popover_bg_color @card_bg_color;
@define-color popover_fg_color @card_fg_color;

@define-color shade_color rgba(0, 0, 0, 0.36);
@define-color scrollbar_outline_color rgba(139, 145, 152, 0.5);

@define-color sidebar_bg_color #181d12;
@define-color secondary_sidebar_bg_color @sidebar_bg_color;
@define-color sidebar_backdrop_color @sidebar_bg_color;
@define-color secondary_sidebar_backdrop_color @sidebar_bg_color;

/* Bridge para GTK4 Variables */
:root {
    --accent-bg-color: @accent_bg_color;
    --accent-fg-color: @accent_fg_color;
    --accent-color: @accent_color;
}